[Desktop Entry]
Name=PokeForce
Comment=the Pokémon MMO
Exec=/usr/bin/discord --ignore-gpu-blocklist --enable-features=UseOzonePlatform --enable-gpu-rasterization --disable-gpu-vsync --disable-frame-rate-limit
Type=Application
Categories=Game;